<!doctype html>
<html lang="ja" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Semantic Versioning 2.0.0</title>
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body>
<ol class="nav lang">
    <li><a href="/">english</a> [en]</li>
</ol>
<ol class="nav">
    <li><a href="/spec/v2.0.0.html">v2.0.0</a></li>
    <li><a href="/spec/v2.0.0-rc.2.html">v2.0.0-rc.2</a></li>
    <li><a href="/spec/v2.0.0-rc.1.html">v2.0.0-rc.1</a></li>
    <li><a href="/spec/v1.0.0.html">v1.0.0</a></li>
    <li><a href="/spec/v1.0.0-beta.html">v1.0.0-beta</a></li>
</ol>

{{ content }}

</body>
</html>
